* {
  margin: 0px 0px;
  padding: 0px;
}

body{
  position: relative;
  min-width: 300px;
}

.header{
  width: 100%;
  display: flex;
  flex-flow: row;
  position: relative;
  font-size: 20px;
  height: 40px;
  padding-top: 10px;
}

.company--name{
  font-size: 20px;
  padding: 10px;
  position: absolute;
  color:#f19737;
  left:20px;
}

.header--ul{
  list-style-type: none;
  float: left;
  position: absolute;
  right: 20px;
}

.header--li{
  display: inline-block;
  font-weight: bold;
  color: #f19737;
  padding: 10px;
}

#login, #signup, .close--modal--btn{
  cursor: pointer;
}

.overlay--modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f19737;
  z-index: 2;
}

.close--modal--btn{
  z-index: 100;
  display: inline-block;
  padding: 10px;
  
  position: absolute;
  right: 40px;
  top: 10px;

  font-size: 20px;
  color: gainsboro;

  border-radius: 100%;

  background-color: gray;
}

.form--login, .form--signup{
  position: absolute;
  width: 100%;
  height: 100%;
}

.form--login form, .form--signup form{
  height: 100vh;
  min-height: 750px;
  position: relative;
  top: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div, .submit--btn{
  margin: 20px 0px;
}

form div input{
  outline: none;
  
  padding: 5px;
  
  border: 1px solid #faf735;
  border-radius: 5px ;

  color: #f19737;
}

.submit--btn{
  outline: none;
  padding: 10px;
  border: 1px solid #f19737;
  color: #f19737;
  background-color: white;
  border-radius: 10px;
}

.submit--btn:hover{
  background-color: #c26d12;
  color: white;
}

.messages{
  position: fixed;
  top: 90vh;
  width: 100%;
}

.messages div{
  width: fit-content;
  padding: 10px;
  margin: 10px auto;
  background-color: #f19737;
  border-radius: 10px;
  color: white;
}

.messages div span{
  z-index: 300;
  cursor: pointer;
}

footer{
  clear: both;
}

.header label{
  position: absolute;
  right: 20px;
  top: 24px;

  display: none;
}

@media only screen and (max-width:540px){
  .header--ul{
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
    position: absolute;
    transform: translateY(-1000px);
    left: 0px;
  }

  .header label{
    display: block;
  }

  #toggler:checked ~ .header--ul{
    transform: translateY(70px);
  }
}