.show--food--wrapper{
    margin: 20px 0px;
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
}

.search--box{
    width: 80%;
    margin: 10px auto;

    z-index: -1;
}

.search--box form{
    position: relative;;
    text-align: center;
}

.search--box form input{
    width: 100%;
    padding: 5px;

    outline: none;
    border: 2px solid #f19737;
    border-radius: 10px;

    color:#f19737;
}

.search--box form button{
    padding: 5px;
    border-radius: 10px;

    position: absolute;
    right: -14px;
    top: 0px;

    outline: none;
    border: 2px solid #f19737;
}

.food--list{
    width: 80%;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;
}

.food--container{
    width: 300px;
    height: 350px;

    border: 1px solid #f19737;
    box-shadow: 0px 0px 10px 4px #f19737;

    margin: 20px;
}

.food--image{
    width: 100%;
}

.food--image img{
    width: 100%;
}

.food--name{
    margin: 20px;

    color: #f19737;
    font-weight: bold;
}

.food--price{
    margin: 0px 20px 20px 30px;
    color: #f19737;
    font-weight: bolder;
}

.food--controls{
    text-align: center;
}

.food--controls button a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width:1200px){
    .food--list{
        grid-template-columns: 300px 300px;
        grid-template-rows: auto;
    }   
}

@media only screen and (max-width:820px){
    .food--list{
        grid-template-columns: 300px ;
        grid-template-rows: auto;
    }   
}