{% extends 'base.html'  %}
{% load static %}

{% block head%}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock%}

{% block main%}
  <div class="tagline">
      <div class="overlay"></div>
      <div class="primary--tagline">
        We serve the best.
      </div>
      <div class="secondary--tagline">
        In quality and in service.
      </div>
  </div>
  <div class="gallery">
    <div class="first--image">
      <div class="image--1">
        <div class="overlay--2"></div>
        <div class="gallery--content">Quote</div>
      </div>
    </div>  
    <div class="other--image">
      <div class="image--2">
        <div class="overlay--2"></div>
        <div class="gallery--content">Quote</div>
      </div>
      <div class="image--3">
        <div class="overlay--2"></div>
        <div class="gallery--content">Quote</div>
      </div>
    </div>
  </div>
  <div class="most--popular">
    <h1>MOST POPULAR</h1>
    <div class="cards">
      <div class="card">
        <div class="card--image">
          <img src="../static/images/home-page/tagline-back-image.jpg" >
        </div>
        <div class="card--details">
          <div class="card--title">Food</div>
          <div class="card--price">rupees</div>
          <div class="card--description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Mollitia possimus ab cupiditate atque hic nostrum maiores consequatur, 
            velit amet alias sed! Similique officia, nihil nemo atque itaque error a ipsa aspernatur facere, 
            libero illum magnam animi temporibus fugit provident tempora nobis labore, dignissimos unde illo! Porro nobis voluptatibus placeat, 
            corporis ut veniam perferendis quidem, asperiores sit praesentium libero reprehenderit ipsam natus. Dolore similique exercitationem 
            repellat possimus deserunt enim quia explicabo mollitia sequi dolorum, totam ut iure facere quo? Cum obcaecati animi assumenda nobis
             nesciunt! Nesciunt, amet? Fugit, voluptatum id. Natus similique sint eius porro vel ducimus consequuntur aliquam, esse repellendus.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card--image">
          <img src="../static/images/home-page/tagline-back-image.jpg" >
        </div>
        <div class="card--details">
          <div class="card--title">Food</div>
          <div class="card--price">rupees</div>
          <div class="card--description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Mollitia possimus ab cupiditate atque hic nostrum maiores consequatur, 
            velit amet alias sed! Similique officia, nihil nemo atque itaque error a ipsa aspernatur facere, 
            libero illum magnam animi temporibus fugit provident tempora nobis labore, dignissimos unde illo! Porro nobis voluptatibus placeat, 
            corporis ut veniam perferendis quidem, asperiores sit praesentium libero reprehenderit ipsam natus. Dolore similique exercitationem 
            repellat possimus deserunt enim quia explicabo mollitia sequi dolorum, totam ut iure facere quo? Cum obcaecati animi assumenda nobis
             nesciunt! Nesciunt, amet? Fugit, voluptatum id. Natus similique sint eius porro vel ducimus consequuntur aliquam, esse repellendus.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <span class="browse--more--btn">Browse More</span>
  </div>
{% endblock %}