<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/register/" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First name">
    <input type="text" name="last_name" placeholder="Last name">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password1" placeholder="Password">
    <input type="password" name="password"2 placeholder="Confirm Password">
    <input type="submit" value="Register">



</form>
</body>
</html>